#toolbar {
    height: var(--navbars-height);
    background-color: var(--color-background);
    background-image: var(--color-radial-gradient);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#toolbar button {
    display: block;
    padding: var(--size-small);
}

#toolbar > .toolbar__item > button {
    width: var(--navbars-height);
    height: var(--navbars-height);
}

#toolbar #goto-summary {
    width: 100%;
}

.toolbar__item {
    position: relative;
    text-wrap: nowrap;
}

.submenu {
    display: none;
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--color-background);
    background-image: var(--color-radial-gradient);
}

.toolbar__item.active .submenu {
    display: block;
}

#toolbar .submenu-item button {
    display: flex;
    align-items: center;
    gap: var(--size-small);
}