#summary h1 {
    margin-bottom: var(--size-smallest);
}

#summary .testament-books {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#summary .chapter-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--_chapter-button-size);
    height: var(--_chapter-button-size);
    padding: var(--size-smallest);
    line-height: 1;
    background-color: var(--color-secondary-dim);
}