#navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--navbars-height);
    background-color: transparent;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
#navbar button {
    width: var(--navbars-height);
    height: var(--navbars-height);
    font-weight: 600;
}

#navbar #goto-summary {
    width: 100%;
}

#navbar.summary {
    grid-template-columns: auto;
}

#navbar.summary :is(#goto-previous, #goto-next) {
    display: none;
}