#chapter-count {
    text-align: right;
}

#navbar #current-chapter-stats .progress-container {
    --_height: calc(var(--size-smallest) / 2);
    position: absolute;
    bottom: 0;
    width: calc(100% - (var(--size-large) * 2));
    height: var(--_height);
    background-color: var(--color-secondary-dim);
    border-radius: var(--_height);
}

#current-chapter-stats .progress-bar {
    height: 100%;
    background-color: var(--color-primary);
    border-radius: var(--_height);
}