#testament-anchors {
    --_height: calc(var(--size-smallest) / 2);
}

#testament-anchors::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - (var(--size-large) * 2));
    height: var(--_height);
    background-color: var(--color-secondary-dim);
    border-radius: var(--_height);
}

#testament-anchors a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-foreground);
    text-decoration: none;
    opacity: 0.67;
}

#testament-anchors a.active {
    opacity: 1;
}

#testament-anchors a.active::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--_height);
    background-color: var(--color-primary);
    border-radius: var(--_height);
}
