#history-list {
    margin: var(--size-smallest) 0 0;
    padding: 0;
    list-style-type: none;
}

#history-list button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: var(--size-small) 0;
    width: 100%;
}

#history-list small {
    font-size: 0.666em;
    color: var(--color-secondary);
}