#options {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--size-regular);
    z-index: 9;
}

#options.active {
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-secondary);
}

#options h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: calc(var(--size-largest) * 1.5);
}

#options h3 {
    display: flex;
    align-items: center;
    gap: var(--size-smallest);
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
}

#options button {
    font-size: 1em;
    line-height: 1.1;
    border: 1px solid var(--color-secondary);
}

#options #toggle-options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--size-regular);
    right: var(--size-regular);
    width: calc(var(--size-largest) * 1.5);
    aspect-ratio: 1;
    padding: 0;
    background-color: var(--color-background);
    border: 1px solid var(--color-secondary);
    border-radius: var(--size-largest);
}

#options-panel {
    display: none;
}

#options.active #options-panel {
    display: block;
}


#options-menu {
    display: grid;
    margin: 0;
    padding: var(--size-regular) 0;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-regular);
    list-style-type: none;
}

#options-menu button {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--size-smallest);
    width: 100%;
}

#options-menu .lucide {
    width: var(--size-largest);
    height: var(--size-largest);
    color: var(--color-primary);
}

#options-panel #bookmark {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--size-regular);
    padding-top: var(--size-regular);
    border-top: 1px solid var(--color-primary);
}

#options-panel #bookmark h3 {
    grid-column-end: span 2;
}

#options-panel #bookmark span {
    text-transform: capitalize;
}