#options dl {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--size-regular) 0;
}

#options :is(dt, dd) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-small);
}

#options :is(input, select, button, .option-group) {
    padding: 0 var(--size-small);
    margin: 0;
    min-width: calc(var(--size-largest) * 2);
    height: calc(var(--size-largest) * 1.2);
    background: var(--color-primary-shade-2);
    border: none;
    border-radius: var(--size-small);
}

#options select {
    width: 100%;
    font-family: inherit;
    font-size: var(--size-regular);
    text-transform: uppercase;
    color: var(--color-foreground);
}

#options input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#options button:disabled {
    color: var(--color-primary-shade-1);
}

.option-theme .option-group {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--color-foreground);
    background-color: var(--color-primary-shade-2);
    border-radius: var(--size-small);
}

.option-theme input {
    opacity: 0;
}

#options .option-theme .option-group:has(input:checked) {
    background-color: var(--color-primary)
}

.option-theme label,
.option-size button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}