*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --size-regular: 16px;
  --size-smallest: calc(var(--size-regular) / 2);
  --size-small: calc(var(--size-regular) / 1.333);
  --size-large: calc(var(--size-regular) * 1.5);
  --size-largest: calc( var(--size-regular) * 2);
  --navbars-height: calc(var(--size-largest) * 2);

  --color-foreground: #DDE3E6;
  --color-background: #15161A;
  --color-primary: #333A3F;
  --color-secondary: #0063AA;
  --color-accent: #10A2F6;

  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  background-image: radial-gradient(at top left, var(--color-primary), var(--color-background));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  border: none;
  border-radius: var(--size-smallest);
  cursor: pointer;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-foreground: #1A2023;
    --color-background: #E6E7EB;
    --color-primary: #C1C8CD;
    --color-secondary: #57B9FF;
    --color-accent: #099CF1;
  }
}